<h1 mat-dialog-title>Cash Deposit</h1>

<mat-dialog-content >
                <form class="example-form">
        <div class="row">
        <mat-form-field class="example-full-width">
                <div  class="col-sm-3 col-md-4">
                        
                        <input class="aaa" (input)="inputValidator($event)" matInput type="text"  (change)=updateTotal() name="cash100"  [(ngModel)]="cash100" #ctrl="ngModel" > 
                </div>                      
                <div class="col-sm-3 col-md-4" >
                        <label class="cash-label" >  x 100 </label>
                </div>    
                <div class="col-sm-3 col-md-4" >
                        <label class="cash-label"> {{ cash100t  | number : '1.2-2' }} </label> 
                </div>
        </mat-form-field>            
        </div>
        <div class="row">
        <mat-form-field class="example-full-width">
                <div  class="col-sm-3 col-md-4">
                    <input class="aaa"  matInput  (input)="inputValidator($event)" type="text"  (change)=updateTotal() name="cash50"  [(ngModel)]="cash50" #ctrl="ngModel" > 
                </div>
                <div class="col-sm-3 col-md-4" >
                        <label  class="cash-label">  x 50 </label>
                </div>    
                <div class="col-sm-3 col-md-4" >
                        <label  class="cash-label" > {{ cash50t  | number : '1.2-2' }} </label> 
                </div>
        </mat-form-field>             
        </div>
        <div class="row">
        <mat-form-field class="example-full-width">
                <div  class="col-sm-3 col-md-4">
                    <input class="aaa"  matInput  (input)="inputValidator($event)" type="text"  (change)=updateTotal() name="cash20"  [(ngModel)]="cash20" #ctrl="ngModel" > 
                </div>
                <div class="col-sm-3 col-md-4" >
                        <label class="cash-label">  x 20 </label>
                </div>    
                <div class="col-sm-3 col-md-4" >
                        <label class="cash-label" > {{ cash20t  | number : '1.2-2' }} </label> 
                </div>
        </mat-form-field>           
        </div>
        <div class="row">
        <mat-form-field class="example-full-width">
                <div  class="col-sm-3 col-md-4">
                    <input class="aaa"  matInput  (input)="inputValidator($event)" type="text"  (change)=updateTotal() name="cash10"  [(ngModel)]="cash10" #ctrl="ngModel" > 
                </div>
                <div class="col-sm-3 col-md-4" >
                        <label class="cash-label" >  x 10 </label>
                </div>    
                <div class="col-sm-3 col-md-4" >
                        <label class="cash-label" > {{ cash10t  | number : '1.2-2' }} </label> 
                </div>
        </mat-form-field>            
        </div>
        <div class="row">
        <mat-form-field class="example-full-width">
                <div  class="col-sm-3 col-md-4">
                    <input class="aaa"  matInput  (input)="inputValidator($event)" type="text"  (change)=updateTotal() name="cash5"  [(ngModel)]="cash5" #ctrl="ngModel" > 
                </div>
                <div class="col-sm-3 col-md-4" >
                        <label class="cash-label" >  x 5 </label>
                </div>    
                <div class="col-sm-3 col-md-4" >
                        <label class="cash-label" > {{ cash5t  | number : '1.2-2' }} </label> 
                </div>
        </mat-form-field>            
        </div>
        <div class="row">
        <mat-form-field class="example-full-width">
                <div  class="col-sm-3 col-md-4">
                                <label class="cash-label">    </label>
                </div>
                <div class="col-sm-3 col-md-4" >
                        <label class="cash-label ">  Coins  </label>
                </div>    
                <div class="col-sm-3 col-md-4" >
                        
                        <input class="aaa"  matInput  type="text" onchange=updateTotal() name="coins" currencyMask  [(ngModel)]="coins" #ctrl="ngModel" > 
                </div>
        </mat-form-field>            
        </div>
        <div class="row">
        <mat-form-field class="example-full-width">
                <div  class="col-sm-3 col-md-4">
                        <label class="cash-label" > </label>
                </div>
                <div class="col-sm-3 col-md-4">
                        <label class="cash-label" >  Total </label>
                </div>    
                <div class="col-sm-3 col-md-4"  >
                        <input class="cash-label"  matInput  pattern="/^(\d*\.)?\d+$/igm"  readonly name="cashtotal" currencyMask [(ngModel)]="cashtotal" #ctrl="ngModel" > 
                </div>
        </mat-form-field>            
        </div>
        <div class="row pull-right">
                        <button class="mat-raised-button"
                        (click)="updateTotal()">
                            Update Total
                        </button>
        <!--mat-form-field class="example-full-width">
                <div  class="col-sm-3 col-md-4">
                                <label class="cash-label">   </label>
                </div>
                <div class="col-sm-3 col-md-4" >
                        <label class="cash-label">  Actual Deposit  </label>
                </div>    
                <div class="col-sm-3 col-md-4" >
                        
                        <input class="cash-label"  matInput  pattern="/^(\d*\.)?\d+$/igm"  readonly name="actualdeposit" currencyMask [(ngModel)]="actualdeposit" #ctrl="ngModel" > 
                </div>
        </mat-form-field-->            
        </div>
        </form>
        <h4>Total Cash Sum should be {{ data.payload | currency}}</h4>
</mat-dialog-content>
 
<mat-dialog-actions>
    
    <button class="mat-raised-button"
    (click)="onNoClick()">
        Cancel
    </button>
    
    <button class="mat-raised-button mat-primary" 
        (click)="save()">
        Continue
    </button>
    
</mat-dialog-actions>
    