<h1 mat-dialog-title>Cash Deposit</h1>

<mat-dialog-content >
        <div class="row">
                <div  class="col-sm-3 col-md-4">
                    <input class="input-coins"  matInput type="number"  (change)=updateTotal()  [(ngModel)]="cash100" #ctrl="ngModel" > 
                </div>
                <div class="col-sm-3 col-md-4" >
                        <label>  x 100 </label>
                </div>    
                <div class="col-sm-3 col-md-4" >
                        <label class="input-coins"> {{ cash100t  | number : '1.2-2' }} </label> 
                </div>
                    
        </div>
        <div class="row">
                <div  class="col-sm-3 col-md-4">
                    <input class="input-coins"  matInput  pattern="/^(\d*\.)?\d+$/igm"  (change)=updateTotal()  [(ngModel)]="cash50" #ctrl="ngModel" > 
                </div>
                <div class="col-sm-3 col-md-4" >
                        <label>  x 50 </label>
                </div>    
                <div class="col-sm-3 col-md-4" >
                        <label class="input-coins" > {{ cash50t  | number : '1.2-2' }} </label> 
                </div>
                    
        </div>
        <div class="row">
                <div  class="col-sm-3 col-md-4">
                    <input class="input-coins"  matInput  pattern="/^(\d*\.)?\d+$/igm"  (change)=updateTotal()  [(ngModel)]="cash20" #ctrl="ngModel" > 
                </div>
                <div class="col-sm-3 col-md-4" >
                        <label>  x 20 </label>
                </div>    
                <div class="col-sm-3 col-md-4" >
                        <label class="input-coins" > {{ cash20t  | number : '1.2-2' }} </label> 
                </div>
                    
        </div>
        <div class="row">
                <div  class="col-sm-3 col-md-4">
                    <input class="input-coins"  matInput  pattern="/^(\d*\.)?\d+$/igm"  (change)=updateTotal()  [(ngModel)]="cash10" #ctrl="ngModel" > 
                </div>
                <div class="col-sm-3 col-md-4" >
                        <label>  x 10 </label>
                </div>    
                <div class="col-sm-3 col-md-4" >
                        <label class="input-coins" > {{ cash10t  | number : '1.2-2' }} </label> 
                </div>
                    
        </div>
        <div class="row">
                <div  class="col-sm-3 col-md-4">
                    <input class="input-coins"  matInput  pattern="/^(\d*\.)?\d+$/igm"  (change)=updateTotal()  [(ngModel)]="cash5" #ctrl="ngModel" > 
                </div>
                <div class="col-sm-3 col-md-4" >
                        <label>  x 5 </label>
                </div>    
                <div class="col-sm-3 col-md-4" >
                        <label class="input-coins" > {{ cash5t  | number : '1.2-2' }} </label> 
                </div>
                    
        </div>
        <div class="row">
                <div  class="col-sm-3 col-md-4">
                        
                </div>
                <div class="col-sm-3 col-md-4">
                        <label>  Total </label>
                </div>    
                <div class="col-sm-3 col-md-4"  >
                        <label class="input-coins" > {{ cashtotal  | number : '1.2-2' }} </label> 
                </div>
                    
        </div>
</mat-dialog-content>
 
<mat-dialog-actions>
    
    <button class="mat-raised-button"
    (click)="onNoClick()">
        Close
    </button>
    
    <button class="mat-raised-button mat-primary" 
        (click)="save()">
        Void
    </button>
    
</mat-dialog-actions>
    