.input_coins {
 
  background-color:violet;
  text-align: right;
  align-content: inherit;
  outline-color: blue;
  width: 100px;
  

  } 

  .example-form {
    min-width: 400px;
    max-width: 1000px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  .aaa{
    width: 400pc;
    text-align: center;
  
  }
  .cash-label{
    width: 100pc;
    text-align: right;
  
  }
  .deposit-inputbox{
    width: 180px;
    text-align: right;

  }
  .deposit-label{
    width: 100px;
    text-align: right;
    padding-right: 10px;
  
  }
  
.vertical-center-div {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
   
}

.extended-content {
    width:100%;
    height: 100px;
    text-align:center;
}
.mat-column-amount {
  display: flex;
  justify-content: flex-end;
  padding-right: 5px;
}

.mat-column-invoice {
    display: flex;
    justify-content: flex-end;
    padding-right: 15px;
} 

.alnright { text-align: right; }

table tr td:nth-child(3) {
  text-align: right;
}

@media screen  {
    .print-section{display:none}
}
@media print  {
  
    
  html, body { 
    width: 215.9mm;
    height: 279.4mm;
  }

  

  .no-print{display:none}

  div.d {
    line-height: 1cm;
  }
 

  div.spacer10 { height: 10mm; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
  div.spacer20 { height: 20mm; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
  div.spacer30 { height: 30mm; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }

  .alnright { text-align: right; }

}

