  <div class="col-sm-2 sidenav">
    <div *ngIf = "access == 0 ">
        <div class="btn-group-vertical">
          <a  [routerLink]="['/mainapp/receipts']" class="btn btn-info" role="button" >New Receipts </a> 
          <a  [routerLink]="['/mainapp/editreceipts']" class="btn btn-info" role="button" > Search & Edit </a>
          <a  [routerLink]="['/mainapp/passwd']" class="btn btn-info" role="button" >Reset Password </a>
        </div>  
    </div>
    <div *ngIf = "access == 2 || access == 1">
      <div class="btn-group-vertical">
        <a  [routerLink]="['/mainapp/receipts']"  class="btn  btn-primary" role="button"  >New Receipts </a> 
        <a  [routerLink]="['/mainapp/editreceipts']" class="btn btn-primary" role="button" >Search & Edit </a>
        <a  [routerLink]="['/mainapp/newdeposits']" class="btn btn-primary" role="button" >New Deposits </a>
        <a  [routerLink]="['/mainapp/editdeposits']" class="btn btn-primary" role="button" >Search & Edit </a>
        <a  [routerLink]="['/mainapp/passwd']" class="btn btn-info" role="button" >Reset Password </a>
      </div>
    </div>
    <div *ngIf = "access == 3">
      <div class="btn-group-vertical">
        <a  [routerLink]="['/mainapp/admin']" class="btn btn-info" role="button" >Admin </a>
        <a  [routerLink]="['/mainapp/bank']" class="btn btn-info" role="button" >Bank </a>
        <a  [routerLink]="['/mainapp/passwd']" class="btn btn-info" role="button" >Reset Password </a>
      </div>
    </div>
    
  </div>
  

  