.container {
    margin-top: 30px;
  }
  
  input.ng-invalid.ng-touched {
    border: 1px solid red;
  }
  .paytype-radio-group {
    display: inline-flex;
    flex-direction: row;
  }
  
  .paytype-radio-button {
    margin: 5px;
  }
  
  .paytype-selected-value {
    margin: 15px 0;
  }

  @media screen  {
    .print-section{display:none}
  }
  .well{
    margin: 2px;
    flex-direction: row;
  }
  
  
  @page {
    size: Letter;
    margin: 0;
  }
  @media print  {
  
    
    html, body { 
      width: 215.9mm;
      height: 279.4mm;
    }
  
    
  
    .no-print{display:none}
  
    div.d {
      line-height: 1cm;
    }
  
    div.spacer10 { height: 10mm; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
    div.spacer20 { height: 20mm; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
    div.spacer30 { height: 30mm; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
  
  
   
  
  }
  
  