<div class="row">
  <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="requestCode(f)" #f="ngForm">
          <div class="form-group">
            <label for="id">Enter your username</label>
            <input type="text" id="loginname" name="loginname" ngModel class="form-control">
          </div>
      
          <button class="btn btn=primary" type="submit"  >Request Verification Code</button>  
      </form>
      <div class="col-sm-8 col-sm-offset-2">
        <div *ngIf="message" class="alert alert-danger">{{message}}</div>
       
      </div>
      
  </div>
</div>