<h1 mat-dialog-title> Edit Posted Receipt {{data.payload.id}} ? Original Amt: {{data.payload.amount | currency}}</h1>

<mat-dialog-content >
  
        <div class="row">
                <div class="column" >
                    <span  class="font-weight-bold">Receipt No {{data.payload.id}}</span>

                </div>
                <div class="column" >
                        <span  class="font-weight-bold">Agent {{data.payload.agentname}}</span>
                </div>
        </div>
        <div class="row">
                <div class="column" >
                    <span  class="font-weight-bold">Date {{data.payload.date | date}}</span>

                </div>
                <div class="column" >
                        <span  class="font-weight-bold">Invoice No. {{data.payload.invoice}}</span>
                </div>
        </div>
        <div class="row">
                <div class="column" >
                    <span  class="font-weight-bold">Received From {{data.payload.rcvdfrom}}</span>

                </div>
                <div class="column" >
                        <span  class="font-weight-bold">Rcpt Balance {{data.payload.rcptbal | currency}}</span>
                </div>
        </div>
       
    <mat-card>       
        <mat-card-header>
            <mat-card-title>Post Details</mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>        
   
            <mat-table #table [dataSource]="dataSource">
        
                <!-- Invoice Column -->
                <ng-container matColumnDef="invoice">
                    <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
                    <mat-cell *matCellDef="let e"> {{e.invoice}} </mat-cell>
                </ng-container>
        
                <!-- Payment Column -->
                <ng-container matColumnDef="payment">
                    <mat-header-cell *matHeaderCellDef> Payment </mat-header-cell>
                    <mat-cell *matCellDef="let e">
                        <mat-form-field floatLabel="never">
                            <input matInput placeholder="Payment" [value]="e.payment" [(ngModel)]="e.payment">
                        </mat-form-field>
                    </mat-cell>
                </ng-container>
        
                
                <!-- Amount Column -->
                <ng-container matColumnDef="amount">
                    <mat-header-cell *matHeaderCellDef> Amount </mat-header-cell>
                    <mat-cell *matCellDef="let e">
                        <mat-form-field floatLabel="never">
                            <input matInput placeholder="Amount" [value]="e.amount" [(ngModel)]="e.amount">
                        </mat-form-field>
                    </mat-cell>
                </ng-container>
        
                <ng-container matColumnDef="actions">
                    <mat-header-cell  *matHeaderCellDef > Actions </mat-header-cell>
                    <mat-cell *matCellDef="let row" >
                         <button mat-button >Edit</button>
                    </mat-cell>
                  </ng-container>
        
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
        
    </mat-card>

        
</mat-dialog-content>
 
<mat-dialog-actions>
    
    <button class="mat-raised-button"
    (click)="onNoClick()">
        Cancel
    </button>
    
    <button class="mat-raised-button mat-primary" 
        (click)="save()">
        Post Receipt
    </button>

    <button class="mat-raised-button" 
        (click)="deleteRow()" >Remove Row</button>    
        
    
</mat-dialog-actions>
    