<h1 mat-dialog-title> Edit Posted Receipt {{data.payload.id}} ? Original Amt: {{data.payload.amount | currency}}</h1>

<mat-dialog-content >
  
        <div class="row">
                <div class="column" >
                    <span  class="font-weight-bold">Receipt No {{data.payload.id}}</span>

                </div>
                <div class="column" >
                        <span  class="font-weight-bold">Agent {{data.payload.agentname}}</span>
                </div>
        </div>
        <div class="row">
                <div class="column" >
                    <span  class="font-weight-bold">Date {{data.payload.date | date}}</span>

                </div>
                <div class="column" >
                        <span  class="font-weight-bold">Invoice No. {{data.payload.invoice}}</span>
                </div>
        </div>
        <div class="row">
                <div class="column" >
                    <span  class="font-weight-bold">Received From {{data.payload.rcvdfrom}}</span>

                </div>
                <div class="column" >
                        <span  class="font-weight-bold">Rcpt Balance {{data.payload.rcptbal | currency}}</span>
                </div>
        </div>
       
    <mat-card>       
        <mat-card-header>
            <mat-card-title>Edit Posted Details</mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>        
   
        <table mat-table [dataSource]="INVOICE_DATA">
      
            <!-- Item Column -->
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef> Id </th>
              
              <td mat-cell *matCellDef="let e"> <input matInput placeholder="Id" [value]="e.id" [(ngModel)]="e.id" > </td>
             
              <td mat-footer-cell *matFooterCellDef> Total </td>
            </ng-container>
        
             <ng-container matColumnDef="invoice">
              <th mat-header-cell *matHeaderCellDef> Invoice </th>
              
              <td mat-cell *matCellDef="let e"> <input matInput placeholder="Invoice" [value]="e.invoice" [(ngModel)]="e.invoice" > </td>
             
              <td mat-footer-cell *matFooterCellDef>  </td>
            </ng-container>
          
            <ng-container matColumnDef="payment">
              <th mat-header-cell *matHeaderCellDef> Payment </th>
              
              <td mat-cell *matCellDef="let e"> <input matInput placeholder="Payment" [value]="e.payment" [(ngModel)]="e.payment" > </td>
             
              <td mat-footer-cell *matFooterCellDef>  </td>
            </ng-container>
           
            <ng-container matColumnDef="amountedit">
              <th mat-header-cell *matHeaderCellDef> Amount </th>
              
              <td mat-cell *matCellDef="let e"  > <input matInput placeholder="Amount" [value]="e.amountedit" [(ngModel)]="e.amountedit" style="text-align:right;" > </td>
             
             <td mat-footer-cell *matFooterCellDef style="text-align:right; padding:10" > {{getTotalCost() | currency}} </td>
            </ng-container>
        
            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef> Action </th>
              
              <td mat-cell *matCellDef="let e"> <button mat-button-primary> Save </button></td>
             
              <td mat-footer-cell *matFooterCellDef>  </td>
            </ng-container>
        
           
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
          </table>
        
    </mat-card>

        
</mat-dialog-content>
 
<mat-dialog-actions>
    
    <button class="mat-raised-button"
    (click)="onNoClick()">
        Cancel
    </button>
    
    
   
    
</mat-dialog-actions>
    