<h1 mat-dialog-title> Edit Posted Receipt {{data.payload.id}} ? Original Amt: {{data.payload.amount | currency}}</h1>

<mat-dialog-content >
  
        <div class="row">
                <div class="column" >
                    <span  class="font-weight-bold">Receipt No {{data.payload.id}}</span>

                </div>
                <div class="column" >
                        <span  class="font-weight-bold">Agent {{data.payload.agentname}}</span>
                </div>
        </div>
        <div class="row">
                <div class="column" >
                    <span  class="font-weight-bold">Date {{data.payload.date | date}}</span>

                </div>
                <div class="column" >
                        <span  class="font-weight-bold">Invoice No. {{data.payload.invoice}}</span>
                </div>
        </div>
        <div class="row">
                <div class="column" >
                    <span  class="font-weight-bold">Received From {{data.payload.rcvdfrom}}</span>

                </div>
                <div class="column" >
                        <span  class="font-weight-bold">Rcpt Balance {{data.payload.rcptbal | currency}}</span>
                </div>
        </div>
       
    <mat-card>       
        <mat-card-header>
            <mat-card-title>Edit Posted Details</mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>        
   
        <table mat-table [dataSource]="INVOICE_DATA">
      
            <!-- Item Column -->
            <ng-container matColumnDef="date">
              <th mat-header-cell *matHeaderCellDef> Date </th>
              
              <td mat-cell *matCellDef="let e"> {{e.date | date}} </td>
             
              <td mat-footer-cell *matFooterCellDef>Total:</td>
            </ng-container>
        
             <ng-container matColumnDef="invoice">
              <th mat-header-cell *matHeaderCellDef> Invoice </th>
              
              <td mat-cell *matCellDef="let e"> <input matInput placeholder="Invoice" (change)="invoiceChange()" [value]="e.invoice" [(ngModel)]="e.invoice" maxlength="30" required pattern="[A-Za-z0-9 #-_$%@{}()\[\],.?!]*" > </td>
             
              <td mat-footer-cell *matFooterCellDef>  </td>
            </ng-container>
          
            <ng-container matColumnDef="payment">
              <th mat-header-cell *matHeaderCellDef> Payment </th>
              
              <td mat-cell *matCellDef="let e"> <input matInput placeholder="Payment" (change)="paymentChange()"  [value]="e.payment" [(ngModel)]="e.payment" maxlength="30" required pattern="[A-Za-z0-9 #-_$%@{}()\[\],.?!]*"> </td>
             
              <td mat-footer-cell *matFooterCellDef>  </td>
            </ng-container>
           
            <ng-container matColumnDef="amountedit">
              <th mat-header-cell *matHeaderCellDef> Amount </th>
              
              <td mat-cell *matCellDef="let e"  > <input matInput placeholder="Amount" (change)="amtChange()" pattern="^[0-9]+(\.[0-9]{1,2})?$"   [value]="e.amountedit" [(ngModel)]="e.amountedit"  min="1.00" max="1000000.00"  required style="text-align:right;" > </td>
             
             <td mat-footer-cell *matFooterCellDef style="text-align:right; padding:10" > {{getTotalCost() | currency}} </td>
            </ng-container>
        
           
        
           
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns; let i = index"  (click)="highlight(row,i)"></tr>
            <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
          </table>
        
    </mat-card>
   
        
</mat-dialog-content>
 
<mat-dialog-actions>
    
    <button class="mat-raised-button"
    (click)="onNoClick()">
        Cancel
    </button>
    <div class="alert alert-danger" *ngIf="error == 1">{{ errmsg }}</div>
    <div *ngIf="error == 0">
        <button class="mat-raised-button" (click)="saveChanges()"> Save Changes </button>
      
   </div>
    
   
    
</mat-dialog-actions>
    