
<h1 mat-dialog-title>Edit Receipt {{data.payload.id}}</h1>
 
<mat-dialog-content [formGroup]="form" #f="ngForm" id="print-section">
  
  <div class="row">
    <div class="column">
      <mat-form-field>  <input matInput placeholder="Rcvd From" required formControlName="rcvdfrom">  </mat-form-field>
    </div>

    <div class="column">
      <mat-form-field>  <input matInput placeholder="For" required formControlName="fortrip">  </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="column">
      <mat-form-field> <input matInput type="number"  ng-pattern="\d+(\.\d{2}$)?"  required   #amount minlength="1"
        maxlength="12"  placeholder="Amount" formControlName="amount">
       
      </mat-form-field>
    </div>

    <div class="column">
      <mat-checkbox [(ngModel)]="usdIsChecked" formControlName="usd">USD</mat-checkbox>
    </div>
  </div>
  
  <div class="column">
    <div class="row">
      <mat-form-field> <input matInput placeholder="Invoice" formControlName="invoice" required> </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field> 
          <textarea matInput placeholder="Autosize textarea" matTextareaAutosize matAutosizeMinRows="2"
          matAutosizeMaxRows="5" formControlName="remark"  placeholder="Remarks" ></textarea>  
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="column">
     
        <mat-radio-group class="paytypeedit-radio-group" formControlName="paytype"  >
            <mat-radio-button class="paytypeedit-radio-button" *ngFor="let paytype of paytypes" [value]="paytype.value" >
              {{paytype.viewValue}}
            </mat-radio-button>
        </mat-radio-group>
     
    </div>

  </div>

</mat-dialog-content>
 
<mat-dialog-actions>

    <button class="mat-raised-button"
            (click)="close()">
        Close
    </button>

    <button class="mat-raised-button mat-primary" [disabled]="!f.valid"  
            (click)="save()">
        Save
    </button>
    <button class="mat-raised-button mat-primary" [disabled]="!f.valid"  
    (click)="print()">
      Print
    </button>

</mat-dialog-actions>
