/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    padding: 10px;
  
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Structure */
.example-container {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    min-width: 300px;
    position: relative;
  }
  
  .example-header {
    min-height: 64px;
    display: flex;
    align-items: center;
    padding-left: 4px;
    font-size: 16px;
    color: #2269ec;
  }
  
  .example-table {
    overflow: auto;
    min-height: 300px;
  }
  
  .example-loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .example-rate-limit-reached {
    color: #980000;
    max-width: 360px;
    text-align: center;
  }
  
  /* Column Widths */
  .mat-column-number,
  .mat-column-state {
    max-width: 64px;
  }
  
  .mat-column-created {
    max-width: 124px;
  }
  .highlight{
    background: rgb(104, 113, 190); /* green */
  }
  i.icon-blue {
    color: blue;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}
.paytype-radio-group {
  display: inline-flex;
  flex-direction: row;
}

.paytype-radio-button {
  margin: 5px;
}

.paytype-selected-value {
  margin: 15px 0;
}
  