<app-main></app-main>
<div class="container-fluid text-center">    
  <div class="row content">
    
  <app-menu></app-menu>
   <div class="col-sm-10 text-left"> 
      <h1>Change Password</h1>
     <mat-card>
       
          <div class="column">
              <label class="caption-label"> Old Password</label>  <input  [(ngModel)]="oldpassword" > 
          </div>
          <div class="column">
              <label class="caption-label" > New Password</label>  <input  [(ngModel)]="newpassword" > 
          </div>
          <div class="column">
              <label class="caption-label"> New Password again</label>  <input  [(ngModel)]="newpassword1" > 
          </div>
          <p></p>
      
        <button (click)="updatePassword()"> Update Password</button>
      

     </mat-card>
          
    </div>
          
    
    
  </div>
</div>