<div mat-dialog-content>
    <h1 mat-dialog-title>Edit User {{data.payload.username}}</h1>

 <p>Current Role {{data.payload.access}}</p>
  <mat-form-field>
    <mat-select placeholder="Select New Role" [(value)]="selected"> 
      <mat-option *ngFor="let role of roles" [value]="role.value">
        {{ role.viewValue }}
      </mat-option>
    </mat-select>
  </mat-form-field>
 
  <div mat-dialog-actions>
    <button mat-raised-button	 (click)="onNoClick()">Cancel</button>
    <button mat-raised-button	 [mat-dialog-close]="selected" cdkFocusInitial>Save</button>
  </div>

  </div>